html{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin: 15px 20px;
}
.delButton:hover{
    background-color: red;
    color: black;
}
button:hover{
    transition: all .2s ease-in-out;
    background-color: #78CDD7;
}
a{
    text-decoration: wavy;
    color: black;
}
thead{
    margin: auto 30px;
    padding: auto 30px;
}
tbody{
    padding: auto 30px;
    margin: auto 30px;
}
td{
    margin: 15px 15px;
}

.delButton{
    color: red;
}
.hidden{
    display: none;
}
form{
    display: block;
}